body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;

    .AppHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 14%;

        .AppTitle {
            display: flex;
            width: 25vw;
            border: 5px solid #fff;
            border-right: none;
            background-color:#0d1a26;
            color: #d1e0e0;
            justify-content: center;
            box-sizing: border-box;
            font-size: 30px;
            font-weight: 700;
            padding: 20px;
        }
        .AppRoom {
            display: flex;
            width: 75vw;
            justify-content: center;
            box-sizing: border-box;
            padding: 20px;
            border: 5px solid #fff;
            font-size: 30px;
            font-weight: 700;
            background-color:#0d1a26;
            color: #d1e0e0;
        }
    }

    .AppBody {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 85%;

        .MessageWrapper {
            display: flex;
            flex-direction: column;
            width: 75vw;
            flex: 1;
            height: 100%;
        }
    }
}
