.Users {
    display: flex;
    flex: 1;
    width: 25vw;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 5px solid #fff;
    background-color: #c6d9ec;
    height: 107%;

    .UsersOnline {
        padding: 20px;
        text-align: center;
        background: #999999;
        color: #990099;
        font-size: 30px;
        font-weight: 700;
    }

    .UsersList {
        margin: 0;
        padding: 0;
        background-color: #c6d9ec;

        .UserItem {
            list-style: none;
            color: #330033;
            text-align: center;
            background-color: #538cc6;
            font-size: 25px;
            font-weight: 500;
            padding: 20px;
            margin: 5px 5px 5px 20px;
        }
    }
}
